[Unit]
Description=Python DNS Interceptor

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/dnsinterceptor.py 

WorkingDirectory=/home/pi

Restart=always
RestartSec=120


[Install]
WantedBy=multi-user.target
